$fontStack: Helvetica, sans-serif;

$baseColor: #f0f4f5;
$fontColor: #33475f;
$lightColor: #888;

$pageColor: #fff;
$warningColor: #eb4f38;
$shadowColor: #bbb;

$headSize: 24px;
$fontSize: 18px;